.whitetri {
  background-color: #ffffff;
  border-radius: 20px;
  width: 300px;
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.graycir {
  background-color: #f2f2f2;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 15px;
  left: 15px;
}
.graylongtri {
  background-color: #ccc;
  padding: 1px;
  border-radius: 10px;
  width: 500%;
  box-shadow: " 0 0 10px rgba(0, 0, 0, 0.2)";
  display: flex;
  justify-content: center;
}
.walletaddress {
  background-color: #ccc;
  padding: 1px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: " 0 0 10px rgba(0, 0, 0, 0.2)";
  display: flex;
  justify-content: "center";
}
.wordsizediv {
  max-width: 42rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
.wordsize {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
  font-size: 24px;
}
.buttondiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 40px;
}
.resetbutton {
  border-radius: 10px;
  height: 40px;
  background-color: #ccc;
}
.surebutton {
  margin-left: 10px;
  border-radius: 10px;
  height: 40px;
  background-color: #ccc;
}
