.flip_card {
  background-color: transparent;
  width: 660px;
  height: 250px;
  perspective: 1000px;
}

.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

.flip_card_front,
.flip_card_back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip_card_front {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.flip_card_back {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  transform: rotateY(180deg);
}
